.fork {
    padding: 110px 0 75px;
    background: url(../img/backgr/fork-bg.png) center center/cover no-repeat;
    .title {
        color: #FFFFFF;
    }
    &__items {
        @include displayFlex(space-between, center);
        margin-top: 61px;
    }
    &__item {
        @include displayFlex(center, center, column);
        width: 22%;
        max-height: 490px;
        background-color: rgba(255, 255, 255, 0.11);
        &--accent {
            width: 299px;
            max-height: 560px;
            background-color: rgba(70,48,72, 0.84);
        }
    }
    &__name {
        @include displayFlex();
        background-color: rgba(255, 255, 255, 0.06);
        width: 100%;
        height: 97px;
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 30px;
        &--accent {
            background-color: rgba(0, 0, 0, 0.11);
            height: 111px;
        }
    }
    &__price {
        font-size: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
        span {
            font-weight: 700;
        }
        &--accent {
            font-size: 82px;
            margin-bottom: 16px;
        }
    }
    &__per {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        &:after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 60px;
            height: 5px;
            background: #8D81AC;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        &--accent {
            &:after {
                margin-top: 45px;
                margin-bottom: 45px;
            }
        }
    }
    &__descr {
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        height: 44px;
        margin-bottom: 36px;
        &--accent {
            margin-bottom: 83px;
        }
    }
    &__btn {
        @extend %button;
        width: 163px;
        height: 45px;
        background-color: rgba(255, 255, 255, 0.15);
        font-size: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 37px;
        &--accent {
            width: 190px;
            height: 52px;
            margin-bottom: 47px;
        }
    }
}