@media (max-width: 1200px) {
  .here {
    .title {
      font-size: 36px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    height: 118px;
    background-color: #27262A;
    &__nav {
      position: absolute;
      bottom: 15px;
      left: calc(50% - 215px);
      column-gap: 20px;
    }
  }
  .hero-block {
    background-position: (50%, 50%);
  }
  .revolutionary {
    &__title {
      font-size: 42px;
    }
    &__descr {
      font-size: 21px;
    }
  }
  .here {
    padding-top: 60px;
    background-color: #fff;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr min-content;
    grid-template-areas: 
    "title"
    "items"
    "img";
    &__items {
      margin-top: 50px;
      grid-area: items;
      padding: 0 10px;
      justify-self: stretch;
    }
    .title {
      margin-bottom: 50px;
      text-align: center;
      padding: 0 10px;
    }
    &__item {
      margin-bottom: 50px;
      max-width: 100%;
      &:last-child {
        margin-bottom: 50px;
    }
    }
  }
  .main-title {
    margin-top: 30px;
    font-size: 72px;
  }
  .lead-text {
    font-size: 24px;
  }
  .subtitle {
    font-size: 14px;
  }
  .testimonials-clients {
    &__wrapper {
      max-width: 760px;
      justify-content: center;
      margin: 0 auto;
      column-gap: 90px;
      margin-bottom: 60px;
    }
  }
  .testimonials {
    &__title {
      font-size: 42px;
    }
  }
  .fork {
    &__items {
      flex-wrap: wrap;
      justify-content: end;
      max-width: 600px;
      margin: 40px auto 0;
    }
    .title {
      font-size: 42px;
      line-height: 44px;
    }
    &__item {
      min-width: 44%;
      margin-left: 25px;
      margin-bottom: 30px;
      &:nth-child(odd) {
        margin-left: 0;
      }
      &--accent {
        max-width: 48%;
      }
    }
  }
}

@media (max-width:480px) {
  .header__nav,
  .header__logo {
    display: none;
  }
  .header__button {
    position: absolute;
    margin: 0;
    left: calc(50% - 72px);
  }
  .burger-btn {
    display: flex;
  }
  .main-title {
    font-size: 48px;
  }
  .lead-text {
    font-size: 18px;
  }
  .subtitle {
    font-size: 14px;
  }
  .hero-block__action-wrapper {
    left: calc(50% - 145px);
  }
  .hero-block__button {
    width: 290px;
    height: 45px;
    font-size: 18px;
  }
  .revolutionary {
    padding-bottom: 68px;
    &__title {
      font-size: 26px;
    }
    &__descr {
      font-size: 14px;
      line-height: 20px;
    }
    &__btns {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__btn {
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
  .here {
    padding: 30px 0 0;
    &__item {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__items {
      margin-top: 36px;
      margin-bottom: 0;
    }
    &__wrapp {
      margin: 0 0 27px;
    }
    &__title {
      text-align: center;
    }
    &__descr {
      margin: 14px 0 38px;
      text-align: center;
    }
    &__png {
      display: block;
      margin: 0 auto;
  }
  }
  .testimonials__title {
    font-size: 36px;
  }
  .fork {
    &__items {
      flex-direction: column;
    }
    &__item {
      width: 260px;
      margin-left: 0;
      &--accent{
        min-width: 300px;
      }
    }
    .title {
      font-size: 28px;
      line-height: 42px;
    }
  }
}