.testimonials {
  background-image: url(../img/backgr/rsz_testmonials-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-position: (50% 50%);
  padding-top: 110px;
  padding-bottom: 25px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #645766;
    bottom: 10px;
    z-index: 20;
    width: 80%;
    left: 10%;
  }
  &__title {
    color: #fff;
    margin-bottom: 75px;
  }
  &__footnote {
    @include fontStyle(14px, 700, 21px, #A291A5, center, none, "Lato");
    max-width: 890px;
    margin: 0 auto;
  }
}
.testimonials-clients {
  &__wrapper {
    width: 100%;
    @include displayFlex(space-between, center);
    row-gap: 110px;
    flex-wrap: wrap;
    margin-bottom: 115px;
  }
  &__item{
    @include displayFlex(center, center, column);
    max-width: 324px;
  }
  &__item-logo {
    margin-bottom: 30px;
  }
  &__item-info {
    @include fontStyle(16px, 700, 24px, #fff, center, none, "Lato");
    font-style: italic;
  }
}